body {
  font: Helvetica;
  text-align: center;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

a {
  color: white;
  font-size: 18px;
}

.background {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

.copy {
  font-size: 11px;
}
